
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Bienvenido
            <% if user_signed_in?%>
            <small><%= current_user.name %>
            <%end%> </small>
          </h1><br>


          <% @article.each do |article| %>
          <!-- Blog Post -->
          <div class="card mb-4">
            <%= image_tag article.cover.url(:thumb) %>
            <div class="card-body">
              <h2 class="card-title"><%= link_to article.title, article %></h2>
              <p class="card-text"><%= article.body %></p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
              <%if user_signed_in? %>
                <% if article %>
                  <%= link_to "Eliminar", article, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar este artículo?' }%>
                <% end %></p>
            <%end %>
            </div><br>
            <div class="card-footer text-muted">
              Posted on <%= article.user.created_at %> by
              <a><a href="#"><%= article.user.email %></a> - Visitas: <%= article.visits_count%></a>
            </div>
          </div><br><br>
          <% end %>

          <!-- Pagination -->
          <%= render "partials/pagination" %>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <%= render "partials/searchbar" %>

          <!-- Categories Widget -->
          <%= render "partials/categoriesW"%>

          <!-- Side Widget -->
          <%= render "partials/sideW" %>

        </div>

      </div>
      <!-- /.row -->

    </div>
