<div class="container">
  <h1> <%= @article.title %> </h1>

  <small> Escrito por <%= @article.user.email %> - Visitas: <%= @article.visits_count%> </small><br><br>

  <div class="field">
    <%= image_tag @article.cover.url(:thumb) %>
  </div>

  <p> <%= @article.body %> </p>
  <%if user_signed_in? %>
    <% if @article.user.permission_level_id == current_user.permission_level_id %>
      <div>
        <%= link_to "Editar", edit_article_path(@article) %>
      </div>
    <%end%>
    <div class="field">
    <h3>Comentarios</h3>
    <%= render "comments/form" %>
    <ul id="comments-box">
      <% @article.comments.each do |comment| %>
        <li>
          * <%= comment.body%> - <%=comment.user.email %>
        </li>
      <%end%>
    </ul>
  </div>
  <%end%>
</div>
