<div class="container">
  <h1> <%= @article.title %> </h1>

  <small> Escrito por <%= @article.user.email %> - Visitas: <%= @article.visits_count %> </small><br><br>

  <p> <%= @article.body %> </p>

  <div>
    <%= link_to "Editar", edit_article_path(@article) %>
  </div>

</div>
