<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <!-- Title -->
      <h1 class="mt-4"><%= @article.title %></h1>

      <!-- Author -->
      <p class="lead">
        by
        <a class="autor" href="#"> <%= @article.user.email %></a>
      </p>

      <hr>
      <p>Categorías:
      <% @article.categories.each do |category| %>
        <div class ="label" style="margin-right: 5px; background-color:<%=category.color%>">
          <%= link_to category.name, category%>
        </div>
      <%end%>
      </p>
      <hr>

      <!-- Date/Time -->
      <p><%= @article.user.created_at %></p>

      <hr>
        <%= image_tag @article.cover.url(:thumb), class: "img-fluid rounded" %>
      <hr>
      <p class="lead"><%= raw @article.body %></p> <!-- Agregamos el raw para que reconozca la nueva forma de texto -->
      <hr>
      <%if user_signed_in? %>
        <% if current_user.is_editor? %>
          <div>
            <%= link_to "Editar", edit_article_path(@article) %>
          </div>
          <hr>
        <%end%>
        <%= render "comments/form" %>
      <%else%>
      <br>
      <h4 class="alert alert-danger">! Para poder comentar debes registrarte <h4><br>
      <%end%>
      <h3>Comentarios:  </h3><br>
      <% @article.comments.each do |comment| %>
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="<%=comment.user.avatar%>" alt="">
        <div class="media-body">
          <h5 class="mt-0"><%=comment.user.name %></h5>
            <%= comment.body%> <small class="estado mt-0"> Hace <%=time_ago_in_words(comment.created_at)%><br>
              <% if user_signed_in? and comment.user.id == current_user.id%>
                <%= link_to 'Borrar', [comment.article, comment], method: :delete, data: { confirm: 'Estas seguro que deseas eliminar este comentario?' } %>
              <%end%></small>
        </div>
      </div>
      <%end%>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <%= render "partials/searchbar" %>
      <!-- Categories Widget -->
      <%= render "partials/categoriesW"%>
      <!-- Side Widget -->
      <%= render "partials/sideW" %>
    </div>
  </div>
</div>
