<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <!-- Title -->
      <h1 class="mt-4"><%= @article.title %></h1>

      <!-- Author -->
      <p class="lead">
        by
        <a class="autor" href="#"> <%= @article.user.email %></a>
      </p>

      <hr>
      <p>Categorías:
      <% @article.categories.each do |category| %>
        <div class ="label" style="margin-right: 5px; background-color:<%=category.color%>">
          <%= link_to category.name, category%>
        </div>
      <%end%>
      </p>
      <hr>

      <!-- Date/Time -->
      <p><%= @article.user.created_at %></p>

      <hr>
        <%= image_tag @article.cover.url(:thumb), class: "img-fluid rounded" %>
      <hr>
      <p class="lead"><%= raw @article.body %></p> <!-- Agregamos el raw para que reconozca la nueva forma de texto -->
      <%if user_signed_in? %>
        <% if current_user.is_editor? %>
          <div>
            <%= link_to "Editar", edit_article_path(@article) %>
          </div>
          <hr>
        <%end%>
        <%= render "comments/form" %>
      <%end%>
      <h3>Comentarios:</h3>
      <% @article.comments.each do |comment| %>
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0"><%=comment.user.name %></h5>
            <%= comment.body%>
        </div>
      </div>
      <%end%>
    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <%= render "partials/searchbar" %>
      <!-- Categories Widget -->
      <%= render "partials/categoriesW"%>
      <!-- Side Widget -->
      <%= render "partials/sideW" %>
    </div>
  </div>
</div>
