
<!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">>DASHBOARD
          </h1><br>

          <% @article.each do |article| %>
          <!-- Blog Post -->
          <div class="card mb-4">
            <%= image_tag article.cover.url(:thumb) %>
            <div class="card-body">
              <h2 class="card-title"><%= link_to article.title, article %></h2>
              <p class="card-text"><%= raw article.body %></p> <!-- Agregamos el raw para que reconozca la nueva forma de texto -->
              <%= link_to "Read More", article, class:"btn btn-primary" %>
              <hr>
              <%= link_to "Eliminar", article, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar este artículo?' }%>
              - <%= link_to "Publicar", "/articles/#{article.id}/publish", method: :put%>
              <% if article.may_publish? %>
                <i class="estado fa fa-remove" style="font-size:20px">
                  Sin publicar
                </i>
              <% else %>
              <i class="estado fa fa-check" style="font-size:20px">
                Publicado
              </i>
              <%end%>

            </div><br>
            <div class="card-footer text-muted">
              Posted on <%= article.user.created_at %> by
              <a><a href="#"><%= article.user.email %></a> - Visitas: <%= article.visits_count%></a>
            </div>
          </div><br><br>
          <% end %>

          <!-- Pagination -->


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <%= render "partials/searchbar" %>

          <!-- Categories Widget -->
          <%= render "partials/categoriesW"%>

          <!-- Side Widget -->
          <%= render "partials/sideW" %>

        </div>

      </div>
      <!-- /.row -->

    </div>
