<p id="notice"><%= notice %></p>

<h1 style="color:<%= @category.color %>"><%= @category.name %></h1>
<h2>Artículos</h2>
<p>
  <% @category.articles.each do |article| %>
    <h3><%=link_to article.title, article %></h3>
    <%= article.body %>
  <%end%>
</p>
<p>
  <strong>Color:</strong>

</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
