<!DOCTYPE html>
<html lang="en">
<head>
  <title>origin/master</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

<%=render "partials/navbar"%>
<% if notice %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%end%>


<%= yield %>
<!--
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
-->
<!-- Footer -->
<footer class="text-center">
  <div class="container">
      <a href="https://github.com/matiasdaza"><i style="font-size:45px" class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/matiasdazaa/"><i style="font-size:45px" class="fa fa-linkedin-square"></i></a>
      <a href="https://twitter.com/Aqua_matt"><i style="font-size:45px" class="fa fa-twitter-square"></i></a>
      <a href="mailto:matiasdazaa@gmail.com"><i style="font-size:45px" class="fa fa-envelope-o"></i></a>
  </div><br>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Matías Daza 2017
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
